{% extends "admin/change_list.html" %}
{% load humanize %}
{% block content_title %}
    <h1> Sales Summary </h1>
{% endblock %}
{% block result_list %}
<div class=”results” style="width:80%;">
    <table id="result_list">
        
    <thead>
      <tr>
        <th scope="col"  {{ header.class_attrib }}>
          
          <div class="text">
            <a href=”#”>Number of Orders</a>
          </div>
        </th>
        <th scope="col"  {{ header.class_attrib }}>
            
            <div class="text">
              <a href=”#”>Grand Total</a>
            </div>
          </th>
      </tr>
    </thead>
    <tbody>
      
      <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
          <td> {{ summary_total.Count  }} </td>
          <td>Rs.{{ summary_total.Total | intcomma }} </td>
          
      </tr>
    </tbody>
    
  </table>
</div>
{% endblock %}

{% block pagination %}{% endblock %}